<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:jpa="http://www.springframework.org/schema/data/jpa"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/data/jpa
 https://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
 

 
 <!-- ===========================================================================
  -->
 <bean id="d" class="com.spring.entity.DoubleValue">
 <constructor-arg name="dbval" value="98.3" ></constructor-arg>
 </bean>
 <!-- ================================================================================ -->
 <bean id="obj" class="com.spring.entity.DependentObject">
 <constructor-arg name ="id" value="20"/>
 <constructor-arg name ="name" value="Abhisek"/>
 <constructor-arg name ="department" value="MCA"/>
 </bean>
 
 <bean id="dpd" class="com.spring.entity.Dependent">
 <constructor-arg><ref bean="obj" /> </constructor-arg>
 </bean>
 
<!--  =============================================================================================
 --> 
 
 <bean id="ceg" class="com.spring.entity.CollectionEg">
 <constructor-arg name="name" value="Abhisek"/>
 <constructor-arg>
 <list>
 <value>Music</value>
 <value>Practice Typing</value>
 <value>Browsing</value>
 </list>
 
  </constructor-arg>

 </bean>
 </beans>
